// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import "socreate/custom-fonts";
@import "socreate/colors";
@import "socreate/typography";
//@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $color__white;
$mainColor: $color__scGreen;
$headingColor: $color__section--style01;
$mainFontSize: 42px;
$mainFont: $fontFamily__sansSerif;
$headingFont: $fontFamily__sansSerif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
section.has-light-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #222;
    }
}

// Customizations go here ----------------------
.slides {
    width: 100% !important;
}

h3 {
    color: $color__scBlue--style02 !important;
}

.masthead__banner {
    background-color: $color__scGreen;
    color: $color__white;
    min-height: 3em;
    position: relative;
    .masthead__bannerTop {
        top: -1px;
        height: 14px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2;
    }
    .layoutContainer {
        padding-bottom: .75rem;
        padding-top: 2.625rem;
        font-family: $fontFamily__cursive;
        font-size: 1.3em;
    }
    .masthead__bannerBottom {
        bottom: 0;
        height: 14px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}

.playground-logo .logo {
    width: 70%;
}

.url {
    color: $color__scBlue--style03;
}

// Slide styles --------------------------------
.slide-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .masthead__banner {
        width: 100%;
        margin-bottom: 1em;
    }
    .directives-and-pipes-too {
        z-index: 2;
        color: $color__section--style03;
        font-family: $fontFamily__cursive;
        position: absolute;
        top: -1.3em;
        left: 15em;
        .arrow {
            top: 1.5em;
            left: 0.3em;
            height: 1.2em;
            width: 1.7em;
            transform: rotate(-90deg);
            position: relative;
        }
    }
}

.about-schwarty {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    figure {
        display: flex;
        align-items: center;
    }
    .card {
        margin-top: 1em;
        margin-bottom: 1em;
        .avatar {
            border-radius: 50%;
            width: 5em;
            margin-right: .7em;
        }
        .info {
            text-align: left;
            .name {
                font-weight: bold;
                position: relative;
                top: 0.3em;
                left: 0.1em;
            }
            .socreate-logo {
                width: 4.2em;
                top: 0.5em;
                position: relative;
            }
        }
    }
    .other-stuff {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 58%;
        figure {
            figcaption {
                margin-right: .5em;
                font-size: 0.8em;
                font-style: italic;
                color: $color__orange;
            }
        }
    }
    .ngair {
        border: 0;
        box-shadow: none;
        width: 3em;
    }
    .ngconf {
        border: 0;
        box-shadow: none;
        width: 2.7em;
        margin-right: 0.7em;
    }
    .ngcruise {
        border: 0;
        box-shadow: none;
        width: 2.7em;
    }
    .training {
        position: relative;
        top: -0.6em;
        .pluralsight {
            border: 0;
            box-shadow: none;
            width: 7em;
        }
        .lynda {
            border: 0;
            box-shadow: none;
            width: 5em;
        }
    }
}

.thank-you {
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            align-items: center;
            width: 24em;
            font-weight: bold;
            &:first-child {
                margin-bottom: 1em;
            }
        }
        .distill {
            color: $color__gray--style02;
            font-weight: normal;
        }
        .github {
            border: 0;
            background-color: $color__logoLetter01--style01;
            padding: 0.3em;
            border-radius: 0.4em;
            width: 2em;
            height: 2em;
            margin-right: 1em;
        }
        .docs {
            width: 2.6em;
            margin-right: 1em;
        }
    }
}

// ---------------------------------------------

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
